<!DOCTYPE html>
<html ng-app="live">
<head>
  <meta charset='utf-8'>
  <title>AngularJS ライブコーディング</title>
  <link rel="stylesheet" href="./css/bootstrap.min.css">
  <script src="./lib/jquery-3.0.0.min.js"></script>
  <script src="./lib/angular.min.js"></script>

  <script src="./js/services.js"></script>
  <script src="./js/directives.js"></script>
  <script src="./js/controllers.js"></script>
  <script src="./js/app.js"></script>
</head>
<body>
<div class="container" ng-controller="MainController as main">

  <div class="alert alert-success" style="display:none;" toast>
    <p>
    TODO1を完了しました&nbsp;
      <!-- a href="#">未完了に戻す</a -->
    </p>
  </div>

  <div class="page-header">
    <h1>新規登録</h1>
  </div>

  <div>
    <p><input type="text" value="" placeholder="新規TODOを入力" class="form-control" ng-model="main.newTodo"></p>
    <p style="text-align:right"><button class="btn btn-default" ng-click="main.createNewTodo()">登録</button></p>
  </div>
  
  <div class="page-header">
    <h1>タスク一覧</h1>
  </div>

  <ul class="list-unstyled" ng-cloak>
    <li ng-repeat="todo in main.todoList | filter : { done : false }">
      <div class="checkbox form-inline" ng-hide="todo.editMode">
        <label>
          <input type="checkbox" name="todo-complete" value='true' ng-model="todo.done" ng-change="main.changeToDone(todo)">
          {{ todo.todo  }}
        </label>
        <button class="btn btn-default" ng-click="main.showEditMode(todo)">編集</button>
      </div>
      <div ng-show="todo.editMode">
        <!-- 編集モード -->
        <input type="text" name="todo" value="" class="form-inline" ng-model="todo.todo">
        <button class="btn btn-primary" ng-click="main.hideEditMode(todo)">適用</button>&nbsp;
        <button class="btn btn-default" ng-click="main.cancel(todo)">キャンセル</button>
      </div>
    </li>
  </ul>

  <div ng-show="main.showEmpty">
    <p>TODOはありません！</p>
  </div>

</div><!-- /container -->
</body>
</html>
